/* Basic Reset */
body, h1, h2, h3, p, figure, figcaption {
    margin: 0;
    padding: 0;
}

/* Typography */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fff;
}

/* Header */
header {
    text-align: center;
    padding: 2em 0;
}

header img {
    width: 150px; /* Adjust as needed */
    border-radius: 50%; /* Circular Image */
}

header h1 {
    margin-top: 0.5em;
}

/* Sections */
section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

section h2 {
    color: #333;
    margin-bottom: 1em;
}

/* Navigation */
nav {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    padding: 0.5em 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1, nav a, footer {
        font-size: smaller;
    }
}
